@page
@model LoginModel

<h2 class="page-title">Bejelentkezés</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <div class="form-group material-design">
                        <input asp-for="Input.Email" type="email" autocomplete="off" onkeyup="this.setAttribute('value', this.value);">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label asp-for="Input.Email"></label>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group material-design">
                        <input asp-for="Input.Password" type="password" autocomplete="off" onkeyup="this.setAttribute('value', this.value);">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label asp-for="Input.Password"></label>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default">Bejelentkezés</button>
                </div>
                @*<div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>*@
            </form>
        </section>
        @*<section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
